@page "/aboutme"    

<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus tempor nulla vitae cursus. Duis diam magna, blandit quis pharetra sed, lobortis auctor velit. Sed nec scelerisque nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum dignissim diam sem, ac imperdiet felis porta et. Fusce eleifend lobortis faucibus. Pellentesque ultrices elit sit amet est venenatis molestie. Aliquam aliquet interdum congue. Proin malesuada nec lacus vitae scelerisque.</p>
        </div>
        <div class="column-right">
            <img src="/css-images/businessman.jpg" alt="me" class="hero-image" />
        </div>
    </div>
</section>
