


<div class="navbar h-auto">
    <h3 class="p-2">Manage</h3>

    <a href="/adminpage/admin-premises/">
        <img width="24" height="24" src="https://img.icons8.com/pastel-glyph/64/building.png" alt="building" />
        Premises
    </a>
    <a href="/adminpage/admin-locations/">
        <img width="24" height="24" src="https://img.icons8.com/ios/50/city.png" alt="city" />
        Locations
    </a>
    <a href="/adminpage/admin-features/">
        <img width="24" height="24" src="https://img.icons8.com/ios-filled/50/features-list.png" alt="features-list" />
        Features
    </a>
    <a href="/adminpage/admin-reviews/">
        <img width="24" height="24" src="https://img.icons8.com/ios/50/popular-topic.png" alt="popular-topic" />
        Reviews
    </a>
</div>