@inherits LayoutComponentBase

<div class="page">
    <main class="d-flex">
        <AdminNavBar />
        <article class="w-100">
            <!-- Image and text -->
            <nav class="navbar navbar-light bg-light justify-content-end">
                <a class="navbar-brand" href="Logout">
                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/login-rounded-right.png" alt="login-rounded-right" />
                    Quit
                </a>
            </nav>
            <div class="content">@Body</div>
            
        </article>
    </main>

</div>